@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {

    --bread-color-primary: #faa307;
    --bread-color-dark: #e85d04;
    --bread-color-extra-dark: #dc2f02;
}

* {}

body {
    color: #777;
    line-height: 1.7;
    font-family: 'Spline Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #222;
}

a {
    text-decoration: none !important;
    transition: all .3s !important;
    color: #222 !important;
}

a:hover {
    color: #e85d04 !important;
}

img {
    /* width: 100%; */
}

section {
    min-height: 100vh;
}

.shadow-on-hover {
    transition: all .4s;
}

.shadow-on-hover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

/* nav btn */
.btn {
    border-radius: 4px;
}

.btn.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: var(--bread-color-dark);
    background-color: var(--bread-color-primary);
    padding: .7rem 1.6rem;
}

.btn.btn-brand:hover {
    scale: 1.1;
    color: #fff !important;
    border-color: var(--bread-color-primary) !important;
    background-color: var(--bread-color-extra-dark) !important;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* Hero Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.493)), url(../images/cover1.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.493)), url(../images/cover2.jpg);
}

/* About us */
#about img {
    width: 100%;
}

#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #e85d04;
}

/* Intro Text */
.intro-text {
    margin-bottom: 40px;
    text-align: center;
}

.intro-text p {
    max-width: 500px;
    margin: 1rem auto 0 auto;
}

/* Menu */
#menu .nav-pills .nav-link {
    background-color: #fff;
    margin-left: 8px;
    margin-right: 8px;
    color: #222;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}

#menu .nav-pills .nav-link.active {
    background-color: #e85d04;
    color: #fff;
    scale: 1.05;
}

#menu img {
    width: 100%;
}

.menu-item .stars {
    color: #e85d04;
}

/* features */
#features {
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.493)), url(../images/cover2.jpg);
}

.features-container {
    height: 100vh;
}

.feature {
    border: 2px solid rgba(255, 255, 255, .2);
}

.feature .feature-icon {
    width: 70px;
    height: 70px;
    background-color: #faa307;
    color: #fff;
    font-size: 2rem;
    display: inline-grid;
    align-content: center;
    text-align: center;
}

.feature .feature-icon i {
    /* width: 100%; */
}

/* team */
.team-member img {
    max-width: 150px;
    box-shadow: -10px -10px 0 #e85d04;
    border-radius: 110px;
}

/* Reviews */
#reviews {
    min-height: 110vh;
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.493)), url(../images/cover3.jpg);
}

#reviewSlider {
    position: relative;
}

.review img {
    width: 105px;
    height: 105px;
    object-fit: cover;
}

.review .quota-icon {
    font-size: 74px;
    color: #faa307;
    line-height: 1;
}

.review .stars {
    color: #faa307;
}

.carousel-indicators {
    position: absolute;
    margin-bottom: -4rem !important;
}