@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap');

:root {

    --bread-color-primary: #faa307;
    --bread-color-dark: #e85d04;
    --bread-color-extra-dark: #dc2f02;
}

* {}

body {
    color: #777;
    line-height: 1.7;
    font-family: 'Spline Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: #222;
}

a {
    text-decoration: none;
    transition: all .4s;
}

a:hover {}

img {
    /* width: 100%; */
}

/* nav btn */
.btn {
    border-radius: 4px;
}

.btn.btn-brand {
    color: #fff;
    font-weight: 500;
    border-color: var(--bread-color-dark);
    background-color: var(--bread-color-primary);
    padding: .7rem 1.6rem;
}

.btn.btn-brand:hover {
    color: #fff;
    border-color: var(--bread-color-primary);
    background-color: var(--bread-color-extra-dark);
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

/* Hero Slider */
.slide-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.493)), url(../images/cover1.jpg);
}

.slide-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.493)), url(../images/cover2.jpg);
}

/* About us */
#about img {
    width: 100%;
}

#about .divider {
    width: 60px;
    height: 2px;
    display: block;
    background-color: #e85d04;
}